<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>
<form role="form" method="post">
    {% csrf_token %}
    <input type="text" id="username" name="username" required="required" placeholder="Name">
    <input type="text" id="password" name="password" required="required" placeholder="Password">
    <input type="text" id="password_confirm" name="password_confirm" required="required" placeholder="Confirm Password">
    <input type="text" id="email" name="email" required="required" placeholder="Email">
    <button type="submit">Submit</button>
</form>
</body>
</html>