{% extends "base.html" %}

{% block title %}Welcome {{ user.get_username }} {% endblock %}

{% block loggedusername %} {{ user.get_username }} {% endblock %}

{% block side_options %}
    <li><a style="background-color:#a7adba;" href="/success/doctor/{{ user.get_username }}">My Home</a></li>
<li><a style="background-color:#a7adba;" href="/viewappointments/doctor/{{ user.get_username }}">View my Appointments</a></li>
<li><a style="background-color:#a7adba;" href="/timings/{{ user.get_username }}/Monday">Set Office hours</a></li>
<li><a style="background-color:#a7adba;" href="#tab_d" data-toggle="pill">Set consultation fees</a></li>
    <li><a style="background-color:#a7adba;" href="/tconsent/{{ user.get_username }}/">Transfer Consent</a></li>
    <li><a style="background-color:#a7adba;" href="/admittedPatients/doctor/{{ user.get_username }}">Admitted patients</a></li>
    <li class="active"><a  style="background-color:#a7adba;" href="#tab_a" data-toggle="pill">View my Earnings</a></li>
{% endblock %}

{% block message %}<p> {{ message }} </p> {% endblock %}

{% block side_options_messages %}
{{ final_earnings }}
{% endblock %}